<div class="card" >
  <p-chart 
  type="bar" 
  [data]="data" 
  [options]="options" 
  (onDataSelect)="handleDataSelect($event)"
  ></p-chart>
</div>


<p-dialog header="Detalles de la tarea" [(visible)]="displayModal" [modal]="true">
  <ng-template pTemplate="content">
    <div class="modal-content">
      <div class="input-group">
        <p>Id: {{ selectedTask?.id }} </p>
      </div>
      <div class="input-group">
          <p>Tarea: {{ selectedTask?.tarea }}</p>
      </div>
      <div class="input-group">
        <label for="durationStart">Duración (Inicio):</label>
      
        <p-inputNumber inputId="integeronly" [(ngModel)]="duracionInicio" (ngModelChange)="actualizarDuracion($event, 'inicio')" > </p-inputNumber>
      </div>
      <div class="input-group">
        <label for="durationEnd">Duración (Fin):</label>
       
        <p-inputNumber inputId="integeronly" [(ngModel)]="duracionFin" (ngModelChange)="actualizarDuracion($event, 'fin')" > </p-inputNumber>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check"  label="Aceptar" styleClass="p-button-primary" (click)="guardarCambios()" ></p-button>
      <p-button icon="pi pi-times"  label="Cancelar" styleClass="p-button-danger" (click)="hideDialog()"  ></p-button>
  </ng-template>
</p-dialog>





