.input {
    width: 19rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input1 {
    width: 41rem;
    align-items: center;
    justify-content: center;
}

.p-1 {
    padding: 1rem !important;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
   
}

.sise{
    font-size: small;
}

.alin {
    text-align: center;
}