/*
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1 1 300px; 
  max-width: 300px;
  margin: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
  border: solid 1px rgb(188, 184, 184);
  padding: 2px;
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.product-details {
  text-align: center;
}

.product-name {
  font-weight: bold;
 
}

.product-price {
  color: #007bff;
  margin-top: 2px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.redondo {
  padding: 2%;
}

*/

 


.contenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 3px 0;

}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.imagen {
  flex: 1 1 auto;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
	align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
  justify-content: space-between;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 10px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
 
	width: calc(33.33% - 20px);

  display: flex;
  flex-direction: column;
  max-width: calc(33.33% - 20px);
  margin-bottom: 20px;
}



.card .textos {
	height: 100%;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textos {
  flex: 0 0 auto;
}

.redondo{
  //display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

}

@media screen and (min-width: 1200px) {
  .card {
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada tarjeta */
    max-width: calc(33.33% - 20px); /* Ajusta el ancho máximo de cada tarjeta */
  }

  .card:nth-child(3n+3) {
    margin-right: 0; /* Elimina el margen derecho para el tercer elemento de cada fila */
  }
}


@media screen and (max-width: 900px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .contenedor-conciertos {
    justify-content: center; /* Centra los elementos en lugar de justificar */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  }
  
  .card {
    width: calc(50% - 20px); /* Ancho del 50% */
    max-width: calc(50% - 20px); /* Ancho máximo del 50% */
    margin-bottom: 20px; /* Espaciado inferior entre las tarjetas */
  }
}


.modal-content {
  text-align: center;
  padding: 20px;
}

.modal-img {
  max-width: 100%;
  height: auto;
}

/* Agrega estilos responsive para el modal */
@media screen and (max-width: 768px) {
  .modal-content {
    padding: 10px;
  }
}

.stepper-button-container {
  display: flex;
 // flex-direction: column;
  align-items: center; /* Alinear verticalmente */
  text-align: center;
  justify-content: center;
 
}

.boton-agregar {
  font-size: small;
}

.stepper {
  display: flex;
  align-items: center; /* Alinear los botones horizontalmente */
  gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.stepper-button {
  font-size: 0.5em; /* Tamaño de la fuente de los botones */
  font-size: small;
}




/* Estilos para el icono flotante de carrito */
.carrito-icono {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #363d44;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
 
}

.carrito-icono i {
  font-size: 2em; /* Tamaño del icono en relación al tamaño de fuente del contenedor */
}

.contador {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}



