.container {
    display: flex;
    justify-content: center; /* Alinear horizontalmente al centro */
    align-items: center; /* Alinear verticalmente al centro */
   // height: 100vh; /* Establecer altura total de la ventana */
}

