<form [formGroup]="miFormulario">

    <div class="md:flex card md:gap-2 md:justify-content-between md:align-items-center">
  
      <div class="flex justify-content-center">
        <p-dropdown [style]="{'width': dropdownWidth}" class="md:w-20rem w-full" containerStyleClass="w-full" placeholder="Tipo de Trabajo"
          [options]="tiposTrabajo" optionLabel="Name" optionValue="Code" formControlName="tipoTrabajo" (onChange)="onchange($event)" 
          >
        </p-dropdown>
      </div>
  
      <div class="flex justify-content-center">
        <p-dropdown [style]="{'width': dropdownWidth}" class="md:w-20rem w-full small" containerStyleClass="w-full" placeholder="Num OT"
          [options]="listaSeries" optionLabel="U_SerName" optionValue="Code" formControlName="selectedSeries"
           (onChange)="onDropdownChange1($event)">
        </p-dropdown>
      </div>
  
      <div class="flex justify-content-center">
        <input  type="text" pInputText formControlName="otroInput" class="p-inputtext-sm">
      </div>
  
      <div class="flex justify-content-center">
        <input pInputText type="text" formControlName="selectedSeriesInput" >
      </div>
  
      <p-button label="Orden Hija"></p-button>
  
    </div>
  
  </form>
  
  

<div class="grid">

    <div class="col-8 md:col-8 lg:col-8 pr-2">
     <div class="pb-4">
        <!--p-toolbar styleClass="mt-3 gap-2">
            <ng-template pTemplate="left">
                <button pButton label="Agregar Nueva Fila" (click)="agregarNuevaFila()" class="p-button-success"></!--button>
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></!--button>
                <p-dropdown  containerStyleClass="w-full" class="md:w-15rem w-full "  placeholder="Tipo"
                [options]="listaTrabajos" optionLabel="Name" optionValue="Code" (onChange)="onTipoChange($event)"
                [(ngModel)]="selectedTipo"
                ></p-dropdown>
            </ng-template>
        </!--p-toolbar-->
       
<p-table 
[value]="elementosTabla"
dataKey="id"
[paginator]="true"
[rows]="10"
[rowsPerPageOptions]="[5, 10, 15]"
[responsive]="true"
styleClass="p-datatable-gridlines align-items-center mt-3"
class="text-xs"
>
<ng-template pTemplate="header">
  <tr>
    <th style="width:5%">Tipo</th>
    <th  style="width:25%">N.Reparto</th>
    <th  style="width:25%">#.Econ</th> 
    <th  style="width:25%">Marca</th>
    <th  style="width:25%">Modelo</th>
    <th  style="width:25%">Serie</th>
    <th  style="width:10%">Hodom. Actual</th>
    <th  style="width:10%">Hodom. Nuevo</th>
    <th  style="width:25%">Acciones</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData>
  <tr>
    <td>
        <p-dropdown [style]="{'width': dropdownWidth2}" containerStyleClass="w-full" class="md:w-15rem w-full "  placeholder="Tipo"
        [options]="listaTrabajos" optionLabel="Name" optionValue="Code" (onChange)="onTipoChange($event)"
         appendTo="body"
        ></p-dropdown>
    </td>
    <td>{{ rowData.U_NReparto }}</td>
    <td>{{ rowData.U_NumEcon}}</td>
    <td>{{ rowData.U_GoodsBrand }}</td>
    <td>{{ rowData.U_GoodsModel }}</td>
    <td>{{ rowData.U_GoodsSerial }}</td>
    <td>{{ rowData.U_OdoAct }}</td>
    <td>
        <p-inputNumber [size]=2 inputId="minmax" mode="decimal" [min]="rowData.U_OdoAct" [max]="" 
        > </p-inputNumber>
        <!--input type="text" pInputText class="w-4rem" /-->
    </td>
    <td>
        <!--p-button type="button" label="B"  styleClass="p-button-danger" ></!--p-button-->
        <p-button icon="pi pi-times" severity="danger" styleClass="p-button-danger" (click)="onEliminarFila(rowData)"></p-button>
      </td>
  </tr>

</ng-template>
</p-table>

     </div>


     <div class="flex justify-content-center" *ngIf="isBT01Selected">
       <p-dialog header="Lista de Equipos BT01" 
        [(visible)]="visibleBT01Modal" 
        [style]="{ width: '800px' }"
        [modal]="true" 
        styleClass="p-fluid">
       <div class="flex ">
    <!--button-- pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></!--button-->
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      
      <input pInputText type="text" (input)="dt1?.filterGlobal(filtroGlobal, 'contains')"  [(ngModel)]="filtroGlobal"
      (ngModelChange)="onFilterChange()" placeholder="Buscar..." />
    </span>
  </div>

  <p-table 
  #dt1 
  [value]="bt01Data" 
  [paginator]="true" 
  [rows]="5" 
  [rowsPerPageOptions]="[5, 10, 15]"
  dataKey="id"
  [globalFilterFields]="['U_NumEcon', 'U_NReparto', 'U_GoodsBrand', 'U_GoodsModel','U_GoodsSerial','U_OdoAct','U_CliProp']"
  >
    <ng-template pTemplate="header">
      <tr>
        
        <th scope="col">#.Econ</th>
        <th scope="col">N.Reparto</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Serie</th>
        <th scope="col">Hodometro Actual</th>
        <th scope="col">CardCode</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr  [pSelectableRow]="rowData" (dblclick)="onRowDoubleClick($event, rowData, 'BT01',rowData.U_CliProp )">
        <td>{{ rowData.U_NumEcon }}</td>
        <td>{{ rowData.U_NReparto }}</td>
        <td>{{ rowData.U_GoodsBrand }}</td>
        <td>{{ rowData.U_GoodsModel }}</td>
        <td>{{ rowData.U_GoodsSerial }}</td>
        <td>{{ rowData.U_OdoAct }}</td>
        <td>{{ rowData.U_CliProp }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-content-center mt-5 me-4">
    <p-button label="Cerrar" (click)="hideBT01Modal()" styleClass="p-button-danger" class="me-4"></p-button>
  </div>
</p-dialog>

      </div>
      
      <div class="flex justify-content-center" *ngIf="isMC01Selected">
       
        <p-dialog 
        header="Lista de equipos MC01" 
        [(visible)]="visibleMC01Modal" 
        [modal]="true" 
        [style]="{ width: '800px' }" 
        styleClass="p-fluid">
            <div class="flex">
              <!--button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear1(dt)"></!--button-->
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" 
                (input)="dt2?.filterGlobal(filtroGlobal, 'contains')"  [(ngModel)]="filtroGlobal"
                      (ngModelChange)="onFilterChange()"
                placeholder="Buscar..." />
              </span>
            </div>
          
            <p-table 
            #dt2 
            [value]="mc01Data" 
            [paginator]="true" 
            [rows]="5" 
            [rowsPerPageOptions]="[5, 10, 15]"
            dataKey="id"
            [globalFilterFields]="['U_NumEcon', 'U_NReparto', 'U_GoodsBrand', 'U_GoodsModel','U_GoodsSerial','U_OdoAct','U_CliProp']"
            >
              <ng-template pTemplate="header">
                <tr >
                  <th scope="col">#.Econ</th>
                  <th scope="col">N.Reparto</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th scope="col">Serie</th>
                  <th scope="col">Hodometro Actual</th>
                  <th scope="col">CardCode</th>
                 
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" (dblclick)="onRowDoubleClick($event, rowData, 'MC01', rowData.U_CliProp)">
                  <td>{{ rowData.U_NumEcon }}</td>
                  <td>{{ rowData.U_NReparto }}</td>
                  <td>{{ rowData.U_GoodsBrand }}</td>
                  <td>{{ rowData.U_GoodsModel }}</td>
                  <td>{{ rowData.U_GoodsSerial }}</td>
                  <td>{{ rowData.U_OdoAct }}</td>
                  <td>{{ rowData.U_CliProp }}</td>
                  
                </tr>
              </ng-template>
            </p-table>
          
            <div class="ui-dialog-footer flex justify-content-center mt-5 me-4">
              <p-button type="button" label="Cerrar" (click)="hideMC01Modal()" styleClass="p-button-danger" class="me-4"></p-button>
            </div>
          </p-dialog>
          
  

      </div>

   

        <div class="card ">
            <div class=" flex justify-content-center">
                <p-fieldset legend="Datos del cliente">
                   <div class="grid ">
                    <div class="col-6  ">
                        
                        <div class=" flex justify-content-center">
                           <span class="p-input-icon-left w-30rem ">
                                <i class="pi pi-search"></i>
                               
                                <input type="text" pInputText [(ngModel)]="dAdicionales.CardCode"  class="custom-width w-full" placeholder="Cliente" />
                            </span>
                        </div>
                        
                        <div class=" flex justify-content-center">
                           
                            <input type="text" pInputText [(ngModel)]="dAdicionales.CardName"  class="custom-width w-full mt-2" placeholder="Nombre">
                        </div>
                        
                        
                        <div class=" flex justify-content-center">
                           
                            <input type="text" pInputText [(ngModel)]="dAdicionales.Street"  class="custom-width w-full mt-2" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="col-6  flex justify-content-end flex-wrap">
                        <div class=" flex justify-content-center ">
                            <input type="text" pInputText [(ngModel)]="dAdicionales.City"  class="custom-width" placeholder="Ciudad">
                        </div>
                        
                        <div class=" flex justify-content-center">
                            <input type="text" pInputText [(ngModel)]="dAdicionales.Phone1" class="custom-width mt-2" placeholder="Teléfono">
                            <!--p-button label="Terminar OT" styleClass="p-button-warning" (onClick)="mostrardatos()"></!--p-button-->
                        </div>
                        
                        
                        <div class=" flex justify-content-center">
                            <input type="text" pInputText  class="custom-width mt-2" placeholder="Contrato">
                        </div>

                        <div class=" flex justify-content-center ">
                            <input type="text" pInputText class="custom-width mt-2" placeholder="OC/OT">
                        </div>
                    </div>
                   </div>
                </p-fieldset>
            </div>


            <div class=" flex justify-content-center mt-5">
                <p-fieldset legend="Reporte del cliente">
                   <div class="grid">
                    <div class="col-8 md:col-8 pr-4 lg:col-8 ">
                        <div class="flex col-12">
                            <textarea rows="5" cols="30" pInputTextarea class="md:w-25rem w-full" placeholder="Problema Reportado"></textarea>
                        </div>
                    </div>
                    <div class="col-4 flex justify-content-end flex-wrap">

                        <div class=" flex justify-content-center chiqui">

                            <p-dropdown [style]="{'width': dropdownWidth1}" class="md:w-15rem " containerStyleClass="custom-dropdown"  placeholder="Tipo Falla"
                            [options]="listaFallos" optionLabel="Name" optionValue="Code">
                            ></p-dropdown>
                        </div>
                        
                        <div class=" flex justify-content-center chiqui ">
                            <input type="text" pInputText class="chiqui mt-2" placeholder="Reportado por:">
                        </div>
                        
                        
                        <div class=" flex justify-content-center chiqui">
                        <input type="text" pInputText class="chiqui mt-2" placeholder="Autorizado por:">
                           
                        </div>
                        

                        <form [formGroup]="miFormulario">
                            <div class="flex flex-wrap mt-2 align-items-start">
                              <div class="flex align-items-start">
                                <label for="fueraDeServicio" class="mr-2">Fuera de Servicio </label>
                                <div class="gap-3 flex">
                                  <div class="flex align-items-start">
                                    <p-radioButton formControlName="fueraDeServicio" name="fueraDeServicio" value="Si"></p-radioButton>
                                    <label for="si" class="ml-2">Si</label>
                                  </div>
                                  <div class="flex align-items-center">
                                    <p-radioButton formControlName="fueraDeServicio" name="fueraDeServicio" value="No"></p-radioButton>
                                    <label for="no" class="ml-2">No</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                          
                        
                        
                    </div>
                   </div>
                </p-fieldset>
            </div>
        </div>
    </div>

    
        <div class="card col-4 md:col-4 lg:col-4 mt-4 pb-4">
      
            <div class="flex justify-content-center  ">
               <p-fieldset legend="Estado OT">
                    <div class="col-12  flex justify-content-center flex-wrap custom-width">

                        <form [formGroup]="miFormulario">
                            <div class=" flex justify-content-center  mt-4">
                
                                <p-dropdown 
                                [style]="{'width': dropdownWidth}" 
                                class="md:w-20rem  w-full" 
                                containerStyleClass="w-full" 
                                placeholder="Prioridad" 
                                [options]="prioridades" 
                                formControlName="prioridadSeleccionada" 
                                
                                ></p-dropdown>
                            </div>
                            
                            <div class=" flex justify-content-center mt-5 ">
                                <p-calendar  [showIcon]="true" containerStyleClass="w-full"   class="w-full" placeholder="dd/mm/aa"></p-calendar>
                              </div>
                            
                            
                            <div class=" flex justify-content-center mt-5 ">
                                <p-dropdown 
                                [style]="{'width': dropdownWidth}" 
                                class="md:w-20rem w-full " 
                                containerStyleClass="w-full" 
                                placeholder="Estado"
                                [options]="estados"
                                formControlName="estadoSeleccionado" 
                                (onChange)="onEstadoSeleccionadoChange()"
                                 ></p-dropdown>
                            </div>
                
                            <div class=" flex justify-content-center mt-5 ">
                                <span class="p-input-icon-left w-20rem">
                                    <i class="pi pi-search"></i>
                                   
                                    <input type="text" pInputText  class="w-full "  placeholder="Agente de Ventas" />
                                </span>
                            </div>
                
                            <div class=" flex justify-content-center mt-5 ">
                                <p-dropdown [style]="{'width': dropdownWidth}" class="md:w-20rem w-full " containerStyleClass="w-full"  placeholder="Técnico Responsable"
                                [options]="listaTecnicos" optionLabel="Name" optionValue="Code" formControlName ='seleccionTecnico'>
                                ></p-dropdown>
                            </div>
                            
                            
                            <div class=" flex justify-content-center mt-5 ">
                                <p-dropdown [style]="{'width': dropdownWidth}" class="md:w-20rem w-full " containerStyleClass="w-full"  placeholder="Coordinador"
                                [options]="listaCordinadores" optionLabel="Name" optionValue="Code" formControlName="seleccionCoordinador">
                                ></p-dropdown>
                            </div>
                
                            <div class="flex gap-2 mt-4">
                                <p-button label="Cancelar OT" styleClass="p-button-warning"></p-button>
                                <p-button label="Terminar OT" styleClass="p-button-warning"></p-button>
                            </div>
                
                            <div class=" flex justify-content-center mt-5 ">
                                <p-dropdown [style]="{'width': dropdownWidth}" class="md:w-20rem w-full" 
                                containerStyleClass="w-full" placeholder="Formatos Impresos" formControlName="seleccionarFormato" ></p-dropdown>
                            </div>
                        </form>
              
   
           </div>
       </p-fieldset>
   </div>
       </div>
   
    
</div>


<div class="card mt-2">
    <p-tabView #tuTabView (onChange)="onTabChange($event)" >
        <p-tabPanel header="Diagnóstico Real" >
          
      <div class="card flex justify-content-center col-12">
        <textarea rows="5" cols="30" pInputTextarea class=" w-full" placeholder="Diagnóstico"  ></textarea>
           </div>
    </p-tabPanel>
    
          <p-tabPanel header="Refacciones" [disabled]="!refaccionesHabilitado" >
            
                    <!--p-toolbar styleClass="mb-4 gap-2">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew3()"></button>
                           
                        </ng-template>
                    </!--p-toolbar-->
         <div class="flex col-12 pb-5">
          <div class="col-9  ">
            
            <p-table 
            
            [value]="elementosTablaRefacciones"
            dataKey="id"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 20]"
            [responsive]="true"
            styleClass="p-datatable-gridlines align-items-center mt-3 me-5"
            class="text-xs"
            >           
             <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" style="width:25%">No. Parte</th>
                        <th scope="col" style="width:40%">Descripcion</th>
                        <th scope="col" style="width:10%">Cantidad</th>
                        <th scope="col" style="width:5%">CC</th>
                        <th scope="col" style="width:5%">SC</th>
                        <th scope="col" style="width:30%">N.Reparto</th>
                        <th scope="col" style="width:30%">Almacen</th>
                        <th scope="col" style="width:5%">Exist</th>
                        <th  style="width:5%">Eliminar</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orden>
                    <tr>
                        <td>
                            <div class="flex gap-1 align-items-center">
                                <input type="text" pInputText class="w-4rem" [(ngModel)]="orden.NoParte" />
                                <i class="pi pi-search" style="color: blue;"(click)="openNew3()" ></i>
                            </div>
                           
                        </td>
                       
                        <td>{{ orden.Descripcion }}</td>
                        <td>
                            <p-inputNumber [size]=1 inputId="minmax" mode="decimal" [(ngModel)]="orden.Cantidad" [min]="0" [max]="" placeholder="0"
                            > </p-inputNumber>
                        </td>
                        

                        <td>
                            <!--p-radioButton name="tipoExistencia" inputId="ccRadio" [(ngModel)]="TipoExistencia"  value="CC"></!--p-radioButton>
                           <label-- for="ingredient1" class="ml-2"></label-->

                           <!--p-checkbox name="tipoExistencia" value="CC" label="" [(ngModel)]="TipoExistencia1" [binary]="true" inputId="binary"></!--p-checkbox-->
                           <p-checkbox *ngIf="orden.original" name="tipoExistencia" value="CC" label="" [binary]="true" inputId="binary"  [disabled]="true" ></p-checkbox>
                           <div *ngIf="!orden.original">
                            <p-checkbox name="tipoExistencia" value="CC" label="" [binary]="true" inputId="binary" [(ngModel)]="TipoExistencia1"  ></p-checkbox>
                        </div>
                        </td>

                        <td>
                            <!--p-radioButton name="tipoExistencia" inputId="scRadio" [(ngModel)]="TipoExistencia" value="SC"></!--p-radioButton>
                          <label-- for="ingredient2" class="ml-2"></label-->
                          <!--p-checkbox name="tipoExistencia" value="SC" label="" [(ngModel)]="checked" [binary]="true" inputId="binary"></!--p-checkbox-->
                          <p-checkbox *ngIf="orden.original" name="tipoExistencia" value="SC" label="" [binary]="true" inputId="binary" [(ngModel)]="checked" ></p-checkbox>
                            <div *ngIf="!orden.original">
                                <p-checkbox name="tipoExistencia" value="SC" label="" [binary]="true" inputId="binary" [disabled]="true" ></p-checkbox>
                            </div>
                        </td>
 

                        
                        <td>   
                             <p-dropdown [options]="[selectedU_NReparto]"  placeholder="" appendTo="body" ></p-dropdown>
                        </td>
                     
                        <td>
            
                            <p-dropdown [options]="almacenSeleccionado" [style]="{'width': dropdownWidth3}"   placeholder="" appendTo="body" ></p-dropdown>
                             
                        </td>
                        <td>
                            <p-inputNumber [size]=1 inputId="minmax" mode="decimal" [min]="0" [max]="" placeholder="0"
                            > </p-inputNumber>
                        </td>
                        <td>
                            <p-button icon="pi pi-times" severity="danger" styleClass="p-button-danger" (click)="onEliminarFilaRef(orden)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
                 </div>
                
                 <div class="col-3">
                    
                    <div class=" flex justify-content-center  mt-3">
                        <p-dropdown [style]="{'width': dropdownWidth1}" [options]="opcionesCotizaciones"  
                        containerStyleClass="w-full"  placeholder="Cotizaciones" appendTo="body" (onChange)="onDropdownChange($event)"></p-dropdown>
                    </div>
        
                    <div class="flex gap-2 mt-4 justify-content-center ">
                        <p-button label="+Cotizacion" styleClass="p-button-warning"  (click)="cargarDatosCotizaciones1(dAdicionales.CardCode)"></p-button>
                        <p-button label="-Cotizacion" styleClass="p-button-warning" (click)="onBotonMenosCotizacionClick1()" ></p-button>
                    </div>
                     
                 </div>
               
            </div>
            
            <div class="flex justify-content-center col-12">
                <textarea rows="5" cols="30" pInputTextarea class=" w-full" placeholder="Comentarios"  ></textarea>
            </div>


    <p-dialog 
    [(visible)]="refacciones" 
    [style]="{ width: '800px' }" 
    header="Lista de Artículos" 
    [modal]="true" 
    styleClass="p-fluid">
    
           <ng-template pTemplate="content">
            <div class="flex mb-2">
               
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"   (input)="dt3?.filterGlobal(filtroGlobal, 'contains')"  [(ngModel)]="filtroGlobal"
                      (ngModelChange)="onFilterChange()" placeholder="Buscar..." />
                </span>
              </div>
            
              <p-table 
              #dt3 
              [value]="dRefacciones" 
              [paginator]="true" 
              [rows]="5" 
              [rowsPerPageOptions]="[5, 10, 15]"
              dataKey="id"
              [globalFilterFields]="['WhsName', 'ItemCode', 'ItemName', 'stocktotal']"
              >

                <ng-template pTemplate="header">
                  <tr >
                    <th scope="col">Almacen</th>
                    <th scope="col">Codigo Art</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Stock</th>
                  </tr>
    
                </ng-template>
                <ng-template pTemplate="body" let-orden>
                  <tr  [pSelectableRow]="orden" (dblclick)="onrowDobleClickref(orden)">
                    <td>{{ orden.WhsName }}</td>
                    <td>{{ orden.ItemCode}}</td>
                    <td>{{ orden.ItemName }}</td>
                    <td>{{ orden.stocktotal }}</td>
                    
                    
                  </tr>
                </ng-template>
              </p-table>
            
              <div class="ui-dialog-footer flex justify-content-center mt-5 me-4">
                <p-button type="button" label="Cerrar" (click)="hideDialog()" styleClass="p-button-danger" class="me-4"></p-button>
              </div>
  </ng-template>


    </p-dialog>

    <p-dialog 
    [(visible)]="cotizaciones" 
    [style]="{ width: '800px' }" 
    header="Lista de Cotizaciones" 
    [modal]="true" 
    styleClass="p-fluid">
    
           <ng-template pTemplate="content">
            <div class="flex mb-2">
               
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"   (input)="dt3?.filterGlobal(filtroGlobal, 'contains')"  [(ngModel)]="filtroGlobal"
                      (ngModelChange)="onFilterChange()" placeholder="Buscar..." />
                </span>
              </div>
            
              <p-table 
              #dt3 
              [value]="dCotizaciones" 
              [paginator]="true" 
              [rows]="5" 
              [rowsPerPageOptions]="[5, 10, 15]"
              dataKey="id"
              [globalFilterFields]="['DocNum', 'docdate', 'CardName', 'Comments']"
              >
                <ng-template pTemplate="header">
                  <tr >
                    <th scope="col">DocNum</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Comentarios</th>
                  </tr>
    
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                  <tr  [pSelectableRow]="cotizacion" (dblclick)="onrowDobleClickcotizacion1(cotizacion)">
                    <td>{{ cotizacion.DocNum }}</td>
                    <td>{{ cotizacion.docdate}}</td>
                    <td>{{ cotizacion.CardName }}</td>
                    <td>{{ cotizacion.Comments }}</td>
                    
                    
                  </tr>
                </ng-template>
              </p-table>
            
              <div class="ui-dialog-footer flex justify-content-center mt-5 me-4">
                <p-button type="button" label="Cerrar" (click)="hideDialog()" styleClass="p-button-danger" class="me-4"></p-button>
              </div>
  </ng-template>


    </p-dialog>     
            
        </p-tabPanel>


        <p-tabPanel header="Mano de Obra" [disabled]="!manoDeObraHabilitado">
            <div class="pb-5">
                <p-toolbar styleClass="mb-4 gap-2">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew4()"></button>
                     
                    </ng-template>
                </p-toolbar>
        <p-table styleClass="p-datatable-gridlines">
            [value]="manoDeObra"
           
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="width:15%">Artículos</th>
                    <th scope="col" style="width:20%">Nombres</th>
                    <th scope="col" style="width:10%">Horas</th>
                    <th scope="col" style="width:10%">Cantidad</th>
                    <th scope="col" style="width:15%">Técnico</th>
                    <th scope="col" style="width:15%">Nombre</th>
                    <th scope="col" style="width:10%">Fecha</th>
                    <th scope="col" style="width:10%">Horas Reales</th>
                    <th scope="col" style="width:5%">Ejecutadas</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-manoDeObra>
                <tr>
                    <td>dsvdsv</td>
                    <td>dvsdv</td>
                    <td>dsdvsv</td>
                    <td>dsd</td>
                    <td>dsvdsv</td>
                    <td>dvsdv</td>
                    <td>dsdvsv</td>
                    <td>dsd</td>
                    <td>dsd</td>
                    
                </tr>
            </ng-template>
        </p-table>

        <div class="flex justify-content-center col-12 mt-5">
            <textarea rows="5" cols="30" pInputTextarea class=" w-full" placeholder="Comentarios" ></textarea>
        </div>
             </div>

             <p-dialog [(visible)]="manoDeObra" [style]="{ width: '450px' }" header="Mano de Obra" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="formgrid grid">
                        <div class="field col-12">
                            <label for="articulo">Artículo</label>
                            <input type="text" pInputText id="articulo" class="full-width small-input" />
                        </div>
                        <div class="field col-12">
                            <label for="nombres">Nombres</label>
                            <textarea type="text" pInputText id="nombres" class="full-width large-input"></textarea>
                        </div>

                        <div class="flex col-12">
                            <div class="field col-6">
                                <label for="horas">Horas</label>
                                <input type="text" pInputText id="horas" class="full-width small-input" />
                            </div>
                            <div class="field col-6">
                                <label for="cantidad">Cantidad</label>
                                <input type="text" pInputText id="cantidad" class="full-width small-input" />
                            </div>
                        </div>
                      
                        <div class="flex col-12">
                            <div class="field col-6">
                                <label for="tecnico">Técnico</label>
                                <input type="text" pInputText id="tecnico" class="full-width small-input" />
                            </div>
                            <div class="field col-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" pInputText id="nombre" class="full-width small-input" />
                            </div>
                        </div>
                        

                        <div class="flex justify-content-center">
                            <div class="field col-4">
                                <label for="fecha">Fecha</label>
                                <p-calendar [showIcon]="true"></p-calendar>
                            </div>
    
                            
                                <div class="field col-4">
                                    <label for="horasReales">Horas Reales</label>
                                    <input type="text" pInputText id="horasReales" class="full-width small-input" />
                                </div>
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton ngDefaultControl  name="pizza" value="Cheese"  inputId="ingredient1"></p-radioButton>
                                        <label for="ingredient1" class="ml-2">Ejecutada</label>
                                    </div>
                                    
                                </div>
                        </div>
                       
                        
                       
                    </div>
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-center">
                        <div class="p-col-6">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
                        </div>
                        <div class="p-col-6">
                            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-secondary"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dialog>
            
        </p-tabPanel>

        <p-tabPanel header="Terceros" [disabled]="!tercerosHbilitado">
            <div class="pb-5">
                <p-toolbar styleClass="mb-4 gap-2">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew1()"></button>
                        
                    </ng-template>
                </p-toolbar>
        <p-table styleClass="p-datatable-gridlines">
            [value]="Terceros"
           
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="width:25%">Proveedor</th>
                    <th scope="col" style="width:40%">Nombre</th>
                    <th scope="col" style="width:25%">Orden de compra</th>
                    <th scope="col" style="width:25%">Total</th>
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-manoDeObra>
                <tr>
                    <td>dsvdsv</td>
                    <td>dvsdv</td>
                    <td>dsdvsv</td>
                    <td>dsd</td>
                    
                </tr>
            </ng-template>
        </p-table>
             </div>
             <p-dialog [(visible)]="terceros" [style]="{ width: '450px' }" header="Terceros" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="formgrid grid">
                        <div class="field col-12">
                            <label for="proveedor">Proveedor</label>
                            <input type="text" pInputText id="proveedor" class="full-width small-input" />
                        </div>
                        <div class="field col-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" pInputText id="nombre" class="full-width small-input" />
                        </div>
                        <div class="field col-12">
                            <label for="ordenCompra">Orden de Compra</label>
                            <input type="text" pInputText id="ordenCompra" class="full-width small-input" />
                        </div>
                        <div class="field col-12">
                            <label for="total">Total</label>
                            <input type="text" pInputText id="total" class="full-width small-input" />
                        </div>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <div class="flex justify-content-center">
                        <div class="p-col-6">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
                        </div>
                        <div class="p-col-6">
                            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-secondary"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dialog>
            
            
        </p-tabPanel>
        <p-tabPanel header="Recomendaciones Tecnicas" [disabled]="!recomendacionesHbilitado">
            <div class="pb-5">
                <p-toolbar styleClass="mb-4 gap-2">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew2()"></button>
                       
                    </ng-template>
                </p-toolbar>
        <p-table styleClass="p-datatable-gridlines">
            [value]="recomendaciones"
           
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="width:25%">No.Parte</th>
                    <th scope="col" style="width:40%">Descripcion</th>
                    <th scope="col" style="width:25%">Cantidad</th>
                   
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-recomendaciones>
                <tr>
                    <td>dsvdsv</td>
                    <td>dvsdv</td>
                    <td>dsdvsv</td>
                   
                    
                </tr>
            </ng-template>
        </p-table>

        <div class="flex justify-content-center col-12 mt-5">
            <textarea rows="5" cols="30" pInputTextarea class=" w-full" placeholder="Comentarios" ></textarea>
        </div>
             </div>

             <p-dialog [(visible)]="recomendaciones" [style]="{ width: '450px' }" header="Recomendaciones Tecnicas" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="formgrid grid">
                        <div class="field col-12">
                            <label for="noParte">No.Parte</label>
                            <input type="text" pInputText id="noParte" class="full-width small-input" />
                        </div>
                        <div class="field col-12">
                            <label for="descripcion">Descripcion</label>
                            <textarea pInputTextarea id="descripcion" class="full-width"></textarea>
                        </div>
                        <div class="field col-12">
                            <label for="cantidad">Cantidad</label>
                            <input type="text" pInputText id="cantidad" class="full-width small-input" />
                        </div>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <div class="flex align-items-center">
                        <div class="p-col-6">
                            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
                        </div>
                        <div class="p-col-6">
                            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-secondary"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dialog>
            
            
        </p-tabPanel>
        <p-tabPanel header="Anexos" [disabled]="!anexosHabilitado">
            <div class="grid grid-cols-12">
                <div class="col-10 me-4">
                    <p-table styleClass="p-datatable-gridlines">
                        [value]="anexos"
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:25%">Archivo</th>
                                <th style="width:15%">Tipo</th>
                                <th style="width:40%">Descripción</th>
                                <th style="width:10%">Acciones</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-anexos>
                            <tr>
                                <td>dsvdsv</td>
                                <td>dvsdv</td>
                                <td>dsdvsv</td>
                                <td>dsd</td>
                                
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-2">
                   
                    <button pButton pRipple label="Subir Adjunto" icon="pi pi-upload" class="p-button-help"></button>
                  
                </div>
            </div>
            
        </p-tabPanel>
    </p-tabView>
</div>
<div class="flex gap-2">
    <p-button label="Grabar"></p-button>
    <p-button label="Regresar" styleClass="p-button-secondary"></p-button>
</div>

