::ng-deep .p-fieldset .p-fieldset-legend {
    background: #FFF;
    
}

::ng-deep  .custom-width {
    width: 20rem ; /* Ajusta el ancho según tus necesidades */
   
}

::ng-deep  .p-calendar  {
    width: 20rem;
   
}



::ng-deep  .p-dropdown {
    width: 20rem;
}

.chiqui{
    width: 15rem !important;
}

