::ng-deep .p-fieldset .p-fieldset-legend {
    background: #FFF;
    
}

::ng-deep  .custom-width {
    width: 20rem ; /* Ajusta el ancho según tus necesidades */
   
}

::ng-deep  .p-calendar  {
    width: 20rem;
   
}






.custom-dropdown {
    width: 15rem;
}

.chiqui .p-dropdown {
    /* Estilos específicos para .chiqui */
    width: 15rem;
}

 
  
.chiqui{
    width: 15rem !important;
}

::ng-deep  .p-fieldset .p-fieldset-content {
    padding: 0.5rem;
}