<div class="flex card gap-2  justify-content-around flex-wrap ">
    

    <div class=" flex justify-content-center">
        <p-calendar [showIcon]="true"></p-calendar>
    </div>
    
    <div class=" flex justify-content-center">
        <p-calendar [showIcon]="true"></p-calendar>
        <!--p-dropdown [options]="cities" class="md:w-20rem w-full" containerStyleClass="w-full"  optionLabel="name"></!--p-dropdown-->
    </div>
    
   
    
    
    <div class=" flex justify-content-center">
        <!--p-treeSelect-- class="md:w-20rem w-full" containerStyleClass="w-full"  placeholder="Select Item"></!--p-treeSelect-->
        <input pInputText type="text">
    </div>
    
    <p-button label="Buscar"  styleClass="p-button-success"></p-button>
    </div>
