<div class="flex card gap-2  justify-content-around flex-wrap ">
    

    <div class=" flex justify-content-center">
        <p-calendar [showIcon]="true" [(ngModel)]="U_DocDatedesde"  (onSelect)="onFechaSeleccionada()"></p-calendar>
    </div>
    
    <div class=" flex justify-content-center">
        <p-calendar [showIcon]="true" [(ngModel)]="U_DocDatehasta" (onSelect)="onFechaSeleccionada()"></p-calendar>
        <!--p-dropdown [options]="cities" class="md:w-20rem w-full" containerStyleClass="w-full"  optionLabel="name"></!--p-dropdown-->
    </div>
    
   
    
    
    <div class=" flex justify-content-center">
        
        <input pInputText type="text"  class="md:w-18rem" placeholder="Buscar cliente">

        
    </div>
    
    <p-button label="Buscar"  styleClass="p-button-success w-15rem " ></p-button>
    </div>

   
<div class="card">

    <div class="flex mb-3">
        <!--button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear1(dt)"></!--button-->
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" 
          (input)="dt?.filterGlobal(filtroGlobal, 'contains')"  [(ngModel)]="filtroGlobal"
                
          placeholder="Buscar cliente" />
        </span>
      </div>

    <p-table
        #dt
        [value]="ordenes"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
        dataKey="id"
      [globalFilterFields]="['NametipTrabajo', 'U_Series', 'U_DocNum', 'U_CardCode','U_CardName','U_DocDate','U_Status', 'prioridadestado']"
      
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:35%">Tipo de Trabajo</th>
                <th style="width:5%">Serie</th>
                <th style="width:10%">Num Doc</th>
                <th style="width:10%">Card Code</th>
                <th style="width:25%">Cliente</th>
                <th style="width:25%">Fecha</th>
                <th style="width:15%">Estado</th>
                <th style="width:10%">Prioridad</th>
                <th style="width:25%">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ordenes> 
            <tr>
                <td>{{ ordenes.NametipTrabajo }}</td>
                <td>{{ ordenes.U_Series }}</td>
                <td>{{ ordenes.U_DocNum }}</td>
                <td>{{ ordenes.U_CardCode }}</td>
                <td>{{ ordenes.U_CardName }}</td>
                <td>{{ ordenes.U_DocDate }}</td>
                <td>{{ ordenes.U_Status }}</td>
                <td>{{ ordenes.prioridadestado }}</td>
                <td>
                    <div class="flex ">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 " [routerLink]="['/ordenes', ordenes.DocEntry]" ></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarOrden(ordenes.DocEntry)" ></button>
                    </div>
                  
                </td>
            </tr>
        </ng-template>

       <ng-template pTemplate="paginatorleft">
        <p-button type="button"  styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button"  styleClass="p-button-text"></p-button>
    </ng-template>
    </p-table>
</div>


