.contenedor {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 3px 0;

}

.fila {
	align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
  justify-content: space-between;
}

.ui-dialog {
	max-width: none !important; /* Anula cualquier ancho máximo predeterminado */
  }
  
  /* Estilos para el contenido dentro del diálogo */
  .responsive-dialog-content {
	width: 100%;
	max-width: 100%;
	padding: 10px;
  }
  
  /* Media query para ajustar el diálogo en dispositivos más pequeños */
  @media (max-width: 768px) {
	.ui-dialog {
	  max-width: 90% !important; /* Reducir el ancho máximo en dispositivos pequeños */
	}
  }